@charset "UTF-8";

/* Sections split imports */
@import "./sections/page-hero-common.css";
@import "./sections/hero.css";
@import "./sections/news-top.css";
@import "./sections/problem.css";

/* (optional) keep adding more section imports here */
